bin/
lib/
pyvenv.cfg
virtual_assistant/__pycache__/
__pycache__/

frontend/node_modules
frontend/bower_components

interpreter/new_model/data
interpreter/new_model/output/distance
interpreter/new_model/output/distance_angles
interpreter/new_model/wandb

data/
*.npy
data/
share/