rpi-hardware-pwm

absl-py
aiohttp
aiosignal
async-timeout
attrs
blinker
Bottleneck
brotlipy
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
cycler
docker-pycreds
Flask
fonttools
frozenlist
fsspec
future
gitdb
GitPython
google-auth
google-auth-oauthlib
grpcio
idna
importlib-metadata
itsdangerous
Jinja2
joblib
kiwisolver
Markdown
MarkupSafe
matplotlib
multidict
munkres
numexpr
numpy
oauthlib
olefile
opencv-contrib-python
packaging
pandas
pathtools
Pillow
pip
promise
protobuf
psutil
pyasn1
pyasn1-modules
pycparser
PyJWT
pyOpenSSL
pyparsing
#PyQt5
#PyQt5_sip
#PyQtChart
#PyQtWebEngine
PySocks
python-dateutil
#pytorch-lightning
pytz
pyu2f
PyYAML
requests
requests-oauthlib
rsa
scikit-learn
scipy
sentry-sdk
shortuuid
six
smmap
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
termcolor
threadpoolctl
#torch
#torchaudio
#torchmetrics
#torchvision
tornado
tqdm
typing-extensions
urllib3
wandb
websockets
Werkzeug
wheel
win-inet-pton
wincertstore
yarl
yaspin
zipp
