.sse-page {
    border-style: dotted;
    display: flex;
    flex-direction: row;
    .video-container {
        
        justify-content: center;
        align-items: center;
    }
    .video {
        width: 100%;
    }
    .top-letter {
        font-size: 48px;
        color: green;
    }
    .letter-one {
        font-size: 36px;
        color: green;
    }
    .letter-two {
        font-size: 36px;
        color: yellow;
    }
    .cursor {
        opacity: 1;
        animation: blink 1s infinite;
    }

    @keyframes blink {
        0% {
            opacity: 100%;
        }
        50% {
            opacity: 0%;
        }
        100% {
            opacity: 100%;
        }
    }
}

.header{
    padding-top: "50px";
    padding-bottom: "50px";
    text-align: center;
}

.text_container{
    border-style: dotted;
    display: flex;
    flex-direction: row;
    width: 50%;
}
