.sse-page {
    .top-letter {
        font-size: 48px;
        color: green;
    }
    .letter-one {
        font-size: 36px;
        color: green;
    }
    .letter-two {
        font-size: 36px;
        color: yellow;
    }
    .cursor {
        opacity: 1;
        animation: blink 1s infinite;
    }

    @keyframes blink {
        0% {
            opacity: 100%;
        }
        50% {
            opacity: 0%;
        }
        100% {
            opacity: 100%;
        }
    }
}