.sse-page {
    .top-letter {
        font-size: 48px;
        color: green;
    }
    .letter-one {
        font-size: 36px;
        color: green;
    }
    .letter-two {
        font-size: 36px;
        color: yellow;
    }
}